/* BODY */
body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0px;
    height: auto;
    overflow-x:hidden 
}

.article{
    display:flex;
    justify-content: space-between;
}

.article .fas.fa-star{
    color: #0065FC;
}

/* hebergementsamarseille */
#hebergementsamarseille {
    display: flex;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    border-radius: 24px;
    border-style: solid;
    border-color: #F2F2F2;
    flex-basis: 65%;
    justify-content: space-around;
}

#hebergementsamarseille h1{
    font-weight: bolder;
    flex-basis: 96%;
    margin-bottom: 0;
}

#hebergementsamarseille h2 {
    margin: 4PX 8px 4px 8px;
    font-weight: bold;
}

#hebergementsamarseille article {
    background-color: white;
    padding: 2px;
    border-radius: 15px;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

#hebergementsamarseille>a{
    font-weight: bold;
    order: 1;
    flex: 0 90%;
    height: 35px;
    text-align: left;
}

#hebergementsamarseille figure {
    margin: 0;
}

#hebergementsamarseille img {
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    height: 90px;
    width: 180px;
}

#hebergementsamarseille ul{
    display: flex;
    padding-left: 8px;
    margin: 0px 0px 5px 0px;
}

#hebergementsamarseille li{
    margin: 0px;
}

#hebergementsamarseille p{
    margin: 0PX 0px 5px 7px;
    font-weight: normal
}

/* leslogementspopulaires */

.logements{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

#leslogementspopulaires {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 24px;
    flex-basis: 30%;
    padding: 0px 13px;
}

#leslogementspopulaires article {
    background-color: white;
    padding: 2px;
    border-radius: 15px;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0px 0px 30px 0px;
    display: flex;
    flex-direction: row;
}

#leslogementspopulaires h1{
    font-size: 22px;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    margin: 16px 0 26px 0;
}

#leslogementspopulaires h2 {
    font-size: 13px;
    border-left: 35px;
    font-weight: bold;
    display:inline-block;
    vertical-align: top;
    text-align: left;
}

#leslogementspopulaires a {
    overflow: auto;
    display: flex;
    flex-direction: column;
}

#leslogementspopulaires p{
    font-weight: normal;
    margin: 0px 0px 10px 0px;
}

#leslogementspopulaires ul {
    margin: 3px 14px 3px 0px;
    padding-left: 0px;
    display: flex;
}

#leslogementspopulaires li {
    margin: 0px;
}

#leslogementspopulaires figure {
    display:inline-block ;
    margin: 0;
    position: relative;
    flex-basis: 450px;
}

#leslogementspopulaires img{
    border-bottom-left-radius: 10px;
    object-fit: cover;
    width: 130px;
    height: 110px;
    border-top-left-radius: 10px;
}

.article{
    margin-bottom: 20px;
}

/* lesactiviteamarseille */

#lesactiviteamarseille{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 470px;
    justify-content: center;
}

#lesactiviteamarseille h2{
    padding-left: 10px;
}

#lesactiviteamarseille article{
    background-color: white;
    padding-bottom: 5px;
    border-radius: 15px;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;
    max-width: 272px;
    display: flex;
    flex-direction: column;
    margin: 30px 20px 30px 0px;
}

#lesactiviteamarseille img{
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#vieuxport img, 
#calanques img,
#fort img, 
#lgt img,
#frioul img, 
#notredame img{
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#vieuxport img, 
#calanques img {
    height: 350px;
}

#fort img, 
#lgt img {
    height: 150px;
}

#frioul img, 
#notredame img{
    height: 100px;
}
