/* FOOTER */
footer{
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    margin-top: 20px;
    padding: 25px;
}

footer div{
    flex-basis: 30%;
}

footer h3{
    font-size: 15px;
    font-weight: bold;
}
footer ul{
    padding-left: 0px;
}

footer li{
    margin-bottom: 10px;
}