@font-face {
    font-family: 'raleway';
    src: url(../Font/Raleway-Regular.ttf) format('truetype')
}
@media (max-width: 767px) {
    *{
        font-stretch: semi-expanded;
    }
    
    main{
        margin: 0px;
        padding: 0px 0px;
    }
    
    ul{
        display: flex;
        flex-direction: column;
    }
    
    h2{
        max-width: fit-content;
    }
    
    .article {
        flex-direction: column-reverse;
        flex-basis: auto;
    }
    
    .titre{
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
    
    #entete{
        display: flex;
        flex-direction: column;
    }
    
    #entete img, #entete a{
        display: flex;
        justify-content: center;
        margin: 0px;
    }
    
    #entete img{
        margin-top: 15px;
        align-self: center;
    }
    
    #entete nav {
        flex-basis: 100%;
    }
    
    #entete ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding-left: 0px;
    }
    
    #entete li {
        width: 50%;
        padding: 0px;
    }
    
    #entete a {
        font-weight: 500;
        text-align: center;
        transition-duration: 0.1s;
        border-bottom: 3px transparent solid;
        padding-bottom: 15px;
    }
    
    #entete nav {
        margin-right: 0px;
    }
    
    #entete nav li:hover {
        border-bottom: 3px solid #0065FC;
        border-top: 0;
        color: #0065FC;
    }
    
    #entete nav a[data-active="true"] {
        border-top: 3px solid #0065FC;
        color: #0065FC;
    }
    
    .search{
        margin: 0px;
        padding: 0 32px;
    }
    
    .search h2{
        margin: 0px;
    }
    
    .search p {
        margin: 12px 0px 0px 0px;
    }
    
    .search>p{
        margin: 0px;
        padding: 0 32px 20px 32px;
    }
    
    #rechercher {
        display: none;
    }
    
    .mobile{
        display: block;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        color: white;
        background-color:#0065FC ;
        border-style: none;
        align-items: center;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 15px;
        font-weight: bold;
        padding-top: 10px;
    }
    
    .desktop{
        display: none;
    }
    
    .menufiltres {
        display: flex;
        flex-direction: column;
    }
    
    .menufiltres li{
        display: flex;
        margin: 10px 0px 0Px 0px;
    }
    
    .menufiltres a{
        display: flex;
    }
    
    .menufiltres ul{
        display: flex;
        flex-direction: column;
    }
    
    .menufiltres span{
        padding-left: 10px
    }
    
    #animaux, 
    #economique, 
    #famille, 
    #romantique {
        margin: 20px 0px 0px 0px;
    }
    
    #infos{
        padding-left: 32px;
    }
    
    #leslogementspopulaires {
        flex-direction: column;
        flex-basis: auto;
        border-radius: inherit;
        margin-top: 20px;
    }
    
    #leslogementspopulaires img {
        width: 40%;
    }
    
    #leslogementspopulaires article{
        width: 100%;
    }
    
    #hebergementsamarseille{
        flex-direction: column;
        flex-basis: auto;
        background-color: white;
        border: none;
        align-items: normal;
        margin: 0px;
        padding: 0 32px;
    }
    
    #hebergementsamarseille h1{
        flex-basis: 100%;
        margin: 20px 0px;
    }
    
    #leslogementspopulaires ul, #hebergementsamarseille ul{
        display: flex;
        flex-direction: row;
    }
    
    #hebergementsamarseille h1 {
        margin:30px 60px 30px 0px;
    }
    
    #hebergementsamarseille article{
        margin: 0px 0px 20px 0px;
        max-width: fit-content;
    }
    
    #hebergementsamarseille a{
        display: flex;
        flex-direction: column;
    }
    
    #hebergementsamarseille img {
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;
        height: 125px;
        width: 295px;
    }
    
    #hebergementsamarseille>a{
        padding: 20px 0px;
    }
    
    #lesactiviteamarseille{
        flex-wrap: nowrap;
        max-height: fit-content;
        margin: 0px;
        padding: 0 32px;
        flex-direction: column;
    }
    
    #lesactiviteamarseille article{
        width: 100%;
        max-width: none;
        margin:0px 0px 20px 0px;
    }
    
    #lesactiviteamarseille figure{
        height: auto;
        width: 100%;
        line-height: 1.15;
    }
    
    #lesactiviteamarseille h2{
        padding-left: 10px;
    }
    
    #acam{
        margin: 0px;
        padding: 0 32px 20px 32px;
    }
    
    #vieuxport img, #calanques img, #fort img, #lgt img, #frioul img, #notredame img{
        height: 150px;
        width: 100%;
    }
    
    footer{
        display: flex;
        flex-direction: column;
        max-height: none;
        max-width: none;
    }
    
    footer div{
        line-height: 100%;
        margin: 15px;
    }
}