@font-face {
    font-family: 'raleway';
    src: url(../Font/Raleway-Regular.ttf) format('truetype')
}
@media (max-width: 767px) {
    *{
        font-stretch: semi-expanded;
    }
    body {
        width: 400px;
    }
    .main{
        margin: 0px;
        padding: 0px 0px;
    }
    ul{
        display: flex;
        flex-direction: column;
    }
    h2{
        max-width: fit-content;
    }
    .article {
        flex-direction: column-reverse;
        flex-basis: auto;
    }
    .titre{
        display: flex;
        flex-direction: column;
        width: 300px;
        align-items: baseline;
    }
    #entete{
        display: flex;
        flex-direction: column;
    }
    #entete img, #entete a{
        display: flex;
        justify-content: center;
        margin: 0px;
    }
    #entete img{
        margin-top: 15px;
    }
    #entete nav {
        flex-basis: 100%;
    }
    #entete ul {
        margin: 19px 0;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    #entete li {
        width: 50%;
        padding: 0px;
    }
    #entete a {
        font-weight: 500;
        text-align: center;
        transition-duration: 0.1s;
        border-bottom: 3px transparent solid;
        padding-bottom: 15px;
    }
    #entete nav a:hover {
        border-bottom: 3px solid #0065FC;
        border-top: none;
        color: #0065FC;
    }
    #entete nav a[data-active="true"] {
        border-top: 3px solid #0065FC;
        color: #0065FC;
    }
    .search{
        margin: 0px;
        padding: 0 32px;
    }
    .search h2{
        margin: 0px;
    }
    .search p {
        margin: 12px 0px 0px 0px;
    }
    .search>p{
        margin: 0px;
        padding: 0 32px 20px 32px;
    }
    .mobile{
        display: block;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        color: white;
        background-color:#0065FC ;
        border-style: none;
        align-items: center;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 15px;
        font-weight: bold;
        padding-top: 10px;
    }
    .desktop{
        display: none;
    }
    .menufiltres {
        display: flex;
        flex-direction: column;
    }
    .menufiltres li{
        display: flex;
        margin: 10px 0px 0Px 0px;
    }
    .menufiltres a{
        display: flex;
    }
    .menufiltres ul{
        display: flex;
        flex-direction: column;
    }
    .menufiltres span{
        margin-top: 10px;
    }
    #economique{
        margin: 20px 0px 0px 0px;   
    }
    .leslogementspopulaires {
        flex-direction: column;
        flex-basis: auto;
        border-radius: inherit;
    }
    .hebergementsamarseille{
        flex-direction: column;
        flex-basis: auto;
        background-color: white;
        border: none;
        align-items: normal;
        margin: 0px;
        padding: 0 32px;
    }
    .hebergementsamarseille h1{
        flex-basis: 100%;
        margin: 20px;
    }
    .leslogementspopulaires ul, .hebergementsamarseille ul{
        display: flex;
        flex-direction: row;
    }
    .hebergementsamarseille h1 {
        margin:30px 60px 30px 0px;
    }
    .hebergementsamarseille article{
        margin: 0px 0px 20px 0px;
        max-width: fit-content;
    }
    .hebergementsamarseille a{
        display: flex;
        flex-direction: column;
    }
    .hebergementsamarseille img {
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;
        height: 100px;
        width: 330px;
    }
    .lesactiviteamarseille{
        flex-wrap: nowrap;
        max-height: fit-content;
        margin: 0px;
        padding: 0 32px;
        flex-direction: column;
    }
    .lesactiviteamarseille article{
        width: 330px;
        max-width: none;
        margin:0px 0px 20px 0px;
    }
    .lesactiviteamarseille figure{
        height: 100px;
        width: 330px;
        line-height: 1.15;
    }
    #acam{
        margin: 0px;
        padding: 0 32px 20px 32px;
    }
    #vieuxport img, #calanques img, #fort img, #lgt img, #frioul img, #notredame img{
        height: 100px;
        width: 328px;
    }
    footer{
        display: flex;
        flex-direction: column ;
        max-height: none;
        max-width: none;
    }
    footer div {
        line-height: 100%;
        margin: 15px;
    }