@font-face {
  font-family: 'raleway';
  src: url(../Font/Raleway-Regular.ttf) format('truetype')
}
*{
  font-family: 'Raleway-Regular.ttf', Arial, Helvetica, sans-serif,'Times New Roman', Times, serif;
}

ul{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: black;
}
h1{
  font-size: 22px;
}

h2, p{
  font-size: 13px;
}

/* MAIN */
main {
  margin: 0px;
  padding: 0 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}