@font-face {
    font-family: 'raleway';
    src: url(../Font/Raleway-Regular.ttf) format('truetype')
}
@media (min-width: 768px) and (max-width: 992px) {
    #entete nav p:hover {
        border-top: 3px solid #0065FC;
        color: #0065FC;
    }
    
    .map span{
        padding: 10px;
    }
    
    .menufiltres span {
        font-size: 15px;
        padding: 10px 2px;
        font-weight: bold;
    }
    
    .menufiltres a {
        padding-right: 0px;
    }
    
    .article{
        flex-direction: column-reverse;
    }
    
    #hebergementsamarseille{
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 0px ;
        justify-content: space-around;
        flex-basis: auto;
        margin: 30PX 0px;
    }
    
    #hebergementsamarseille h1{
        padding-left: 68px;
    }
    
    #hebergementsamarseille article{
        margin: 20px 20px
    }
    
    #hebergementsamarseille img {
        width: 230px;
    }
    
    #leslogementspopulaires{
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 20px;
        justify-content: space-around;
        flex-basis: auto
    }
    
    #leslogementspopulaires article{
        display: flex;
        flex-direction: column;
    }
    
    #leslogementspopulaires h1{
        font-weight: bolder;
        flex: 1 1 90%;
        margin: 25px 58px 22px 58px;
    }
    
    #leslogementspopulaires h2{
        margin-top: 0px;
    }
    
    #leslogementspopulaires img {
        border-radius: 10px 10px 0px 0px;
        width: 240px;
        height: 120px;
        padding-bottom: 10px;
    }
    
    #acam {
        padding-left: 40px;
    }

    #leslogementspopulaires a {
        overflow: auto;
        display: flex;
        flex-direction: column;
    }
    
    #lesactiviteamarseille {
        flex-wrap: wrap;
        flex-direction: row;
        max-height: none;
        justify-content: space-around;
    }
    
    #lesactiviteamarseille h2{
        padding-left: 10px;
    }
    
    #hebergementsamarseille > a{
        padding-left: 60px
    }
    
    #vieuxport img, #calanques img, #fort img, #lgt img, #frioul img, #notredame img{
        height: 100px;
        width: 269px;
    }
    
    footer{
        line-height: 1;
        justify-content: space-between;
        ;
    }
}