@font-face {
  font-family: 'raleway';
  src: url(../Font/Raleway-Regular.ttf) format('truetype')
}

*{
  font-family: 'Raleway-Regular.ttf', Arial, Helvetica, sans-serif,'Times New Roman', Times, serif;
  margin: 10px;
  text-align: justify;
}

.linkheader :active{
font-size: smaller #0065FC ;
}


link:active{
  background-color:slategray;
}


.menuflitre{
  border-radius: 10px;
  border: 3px; color: black;
}

ul{
  float:left
}

li{
  float left
}

/* BLOCS */

.linheader{

}

.hebergements1{
  display:inline-block;
  position:relative;
  padding:0.5em;
  border-radius: 10px;
  background-color: #F2F2F2 ;
  margin-top:3%;
  margin-right:25%;
  margin-left: 40%;
  
}

.Lespluspopulaires{
  display:inline-block;
  position:relative;
  padding:0.5em;
  border-radius: 10px;
  margin-top:3%;
  margin-right:25%;
  margin-left: 40%;
  background-color: #F2F2F2 ; 

}
.Activités{
  position:relative;
  padding:0.5em;
  border-radius: 10px;
  margin-top:3%;
  margin-left:15%;
  margin-right:50%;
}

.Apropos{
  position: inline-end; 
}
/* BLOCS */

}
/* COMMANDES */

span{
 background-color: auto white;
}

i{
  padding:10px;
  border-radius: 50%;
  color: #0065FC;
  background-color: #DEEBFF;
  text-align: center;


ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: justify
}

button{
background-color: #0065FC;
color: white;
font-weight: bold;
border: none;
border-radius: 0 1rem 1rem 0;
font-family: "Raleway", "Sans serif";
font-size: 1rem;
cursor: pointer;
padding-left: 1.5rem;
padding-right: 1.5rem;
}


/* COMMANDES */









  
  h1{ 
    font-weight: bold;
    font-style: normal;
    font-size: large;
  }
  
  h2{
    font-weight: bold;
    font-style: normal;
    font-size: medium;
  }
  
  h3{
    font-weight: bold;
    font-style: normal;
    font-size: small;
  }
  
  h4{
    font-weight: bold;
    font-style: normal;
    font-size: 3px;
  }